workflow/2. 通晓.yml
app:
  description: '''通晓'' 是一个强大的实时搜索 API，可提供来自多种搜索引擎、知识库集合的结构化数据'
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 通晓
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1743484813136-source-1743484854486-target
      source: '1743484813136'
      sourceHandle: source
      target: '1743484854486'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1743484854486-source-1743484915333-target
      source: '1743484854486'
      sourceHandle: source
      target: '1743484915333'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: template-transform
      id: 1743484915333-source-1743484958594-target
      source: '1743484915333'
      sourceHandle: source
      target: '1743484958594'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: 1743484958594-source-1743484969595-target
      source: '1743484958594'
      sourceHandle: source
      target: '1743484969595'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: query
          max_length: 100
          options: []
          required: true
          type: text-input
          variable: query
      height: 90
      id: '1743484813136'
      position:
        x: 74
        y: 273
      positionAbsolute:
        x: 74
        y: 273
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: 'X-API-KEY: '
        method: get
        params: query:{{#1743484813136.query#}}
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: https://cloud-iqs.aliyuncs.com/search/genericSearch
        variables: []
      height: 135
      id: '1743484854486'
      position:
        x: 379.05555371763796
        y: 273
      positionAbsolute:
        x: 379.05555371763796
        y: 273
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(body: str) -> dict:\n    return {\n       \
          \ \"search_result\": json.loads(body)\n    }"
        code_language: python3
        desc: ''
        outputs:
          search_result:
            children: null
            type: object
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1743484854486'
          - body
          variable: body
      height: 54
      id: '1743484915333'
      position:
        x: 682
        y: 273
      positionAbsolute:
        x: 682
        y: 273
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: "{%- if search_result and search_result.pageItems -%}\n  {% for\
          \ pageItem in search_result.pageItems %}\n---\n- Title: \n{{ pageItem.title\
          \ }}\n- URL: \n{{ pageItem.link }}\n- Snippet: \n{{ pageItem.snippet }}\n\
          Text: \n{{ pageItem.mainText }}\n---\n  {% endfor %}\n{% endif %}"
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1743484915333'
          - search_result
          variable: search_result
      height: 54
      id: '1743484958594'
      position:
        x: 986
        y: 273
      positionAbsolute:
        x: 986
        y: 273
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1743484958594'
          - output
          variable: search_result
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1743484969595'
      position:
        x: 1290
        y: 273
      positionAbsolute:
        x: 1290
        y: 273
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -49.65941714817336
      y: 53.09303542921731
      zoom: 0.8925469714729768
